@font-face {
  src: url(../assets/monof56.ttf);
  font-family: monofour;
}

body{
	margin: 0;
	padding: 0;
	font-family: monofour;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 30px;
	background-color: #262626;
	width: 100%;
	line-height: 50px;
	box-sizing: border-box;
}

header .name{
	color: #fff;
	height: 50px;
	font-size: 28px;
	float: left;
}

header nav{
	float: right;
}

header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li{
	list-style: none;
}

header nav ul li a{
	height: 50px;
	width: 50px;
	padding: 0 50px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: block;
}

header nav ul li a:hover{
	color: #262626;
	background-color: #fff; 
}


@media (max-width: 750px){
	header nav ul li{
		display: none;
	}
} 

article{
	text-align: center; 
	padding-top: 85px;
}

#email{
	line-height: 75px;
	font-size: 24px;
}

#showpgp{
	font-size: 20px;
}

#showpgp:hover{
	color: #1767e8;
	cursor: pointer;
}

#pgpkey{
	visibility: hidden;
	padding-top: 25px;
	font-size: 10px;
}

footer{
	text-align: center; 
	position: relative;
  	bottom: 10;
  	padding-top: 20px;
	width: 100%;
	font-size: 14px;
}
